/include/ "system-conf.dtsi"

/* EMMC */
&sdhci0 {
    status = "okay";
    max-frequency = <50000000>;
    /* clk-phase-sd-hs = <63>, <72>; */
};

/* SD */
&sdhci1 {
    status = "okay";
    max-frequency = <50000000>;
    no-1-8-v; /* for 1.0 silicon */
    disable-wp;
};

&sata {
    status = "okay";
    phy-names = "sata-phy";
    phys = <&lane0 1 0 0 150000000>,
           <&lane1 1 1 0 150000000>;
};

&axi_iic_a53 {
    clock-frequency = <200000>;
    status = "okay";
};

&INTERRUPT_axi_intc_1 {
    status = "ok";
};

&ISP_UART_BLK_axi_uart16550_0 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_1 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_2 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_3 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_4 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_5 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_6 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_7 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_8 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_9 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_10 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_11 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_12 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_13 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_14 {
    status = "okay";
    current-speed = <921600>;
};

&ISP_UART_BLK_axi_uart16550_15 {
    status = "okay";
    current-speed = <921600>;
};

&qspi {
    flash0: flash@0 {
        compatible = "n25q512a", "jedec,spi-nor"; /* 64MB */
        #address-cells = <1>;
        #size-cells = <1>;
        reg = <0x0>;
        spi-tx-bus-width = <4>;
        spi-rx-bus-width = <4>; /* FIXME also DUAL configuration possible */
        spi-max-frequency = <54000000>;
        partition@0 {
            label = "boot";
            reg = <0x00000000 0x01c00000>;
        };
        partition@1 {
            label = "bootenv";
            reg = <0x01c00000 0x00010000>;
        };
        partition@2 {
            label = "kernel";
            reg = <0x01c10000 0x01c00000>;
        };
        partition@3 {
            label = "bootscr";
            reg = <0x03810000 0x00080000>;
        };
    };
};

&uart1 {
    status = "disabled";
};

&spi0 {
    status = "disabled";
};

&can0 {
    status = "disabled";
};

&can1 {
    status = "disabled";
};

&i2c0 {
    status = "disabled";
};

&i2c1 {
    status = "disabled";
};

&CAN_BLK_can_0 {
    status = "disabled";
};

&CAN_BLK_can_1 {
    status = "disabled";
};

&CAN_BLK_can_2 {
    status = "disabled";
};

&CAN_BLK_can_3 {
    status = "disabled";
};

&CAN_BLK_can_4 {
    status = "disabled";
};

&CAN_BLK_can_5 {
    status = "disabled";
};

&CAN_BLK_can_6 {
    status = "disabled";
};

&CAN_BLK_canfd_7 {
    status = "disabled";
};

&INTERRUPT_axi_intc_0 {
    status = "disabled";
};

&gem3 {
    status = "okay";
    is-internal-pcspma = <0x1>;
    phy-handle = <&phy0>;
    phy-mode = "rgmii-id";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_gem3_default>;
    phy0: ethernet-phy@c {
        reg = <0xc>;
        ti,rx-internal-delay = <0x2>;
        ti,tx-internal-delay = <0xa>;
        ti,fifo-depth = <0x1>;
        ti,dp83867-rxctrl-strap-quirk;
    };
};

&pinctrl0 {
    status = "okay";
    pinctrl_gem3_default: gem3-default {
        mux {
            function = "ethernet3";
            groups = "ethernet3_0_grp";
        };

        conf {
            groups = "ethernet3_0_grp";
            slew-rate = <1>;
            io-standard = <1>;
        };

        conf-rx {
            pins = "MIO70", "MIO71", "MIO72", "MIO73", "MIO74",
                                    "MIO75";
            bias-high-impedance;
            low-power-disable;
        };

        conf-tx {
            pins = "MIO64", "MIO65", "MIO66", "MIO67", "MIO68",
                                    "MIO69";
            bias-disable;
            low-power-enable;
        };

        mux-mdio {
            function = "mdio3";
            groups = "mdio3_0_grp";
        };

        conf-mdio {
            groups = "mdio3_0_grp";
            slew-rate = <1>;
            io-standard = <1>;
            bias-disable;
        };
    };
};

/ {
    memory {
        device_type = "memory";
        reg = <0x0 0x0 0x0 0x7ff00000>, <0x0 0x80020000 0x0 0x10000>;
    };

    timesync {
        compatible = "momenta-timesync";
        timereg = <0x80050000>;
    };

    reserved-memory {
        #address-cells = <2>;
        #size-cells = <2>;
        ranges;
        rpu0vdev0vring0: rpu0vdev0vring0@3ed40000 {
            no-map;
            reg = <0x0 0x3ed40000 0x0 0x4000>;
        };
        rpu0vdev0vring1: rpu0vdev0vring1@3ed44000 {
            no-map;
            reg = <0x0 0x3ed44000 0x0 0x4000>;
        };
        rpu0vdev0buffer: rpu0vdev0buffer@3ed48000 {
            no-map;
            reg = <0x0 0x3ed48000 0x0 0x100000>;
        };
        rproc_0_reserved: rproc@3ee48000 {
            no-map;
            reg = <0x0 0x3ee48000 0x0 0x1000000>;
        };
        bram_reserved {
            reg = <0x0 0x80020000 0x0 0x10000>;
        };
    };

    zynqmp-rpu {
        compatible = "xlnx,zynqmp-r5-remoteproc-1.0";
        #address-cells = <2>;
        #size-cells = <2>;
        ranges;
        core_conf = "split";
        reg = <0x0 0xFF9A0000 0x0 0x10000>;
        r5_0: r5@0 {
            #address-cells = <2>;
            #size-cells = <2>;
            ranges;
            memory-region = <&rproc_0_reserved>, <&rpu0vdev0buffer>, <&rpu0vdev0vring0>, <&rpu0vdev0vring1>;
            pnode-id = <0x7>;
            mboxes = <&ipi_mailbox_rpu0 0>, <&ipi_mailbox_rpu0 1>;
            mbox-names = "tx", "rx";
            tcm_0_a: tcm_0@0 {
                reg = <0x0 0xFFE00000 0x0 0x10000>;
                pnode-id = <0xf>;
            };
            tcm_0_b: tcm_0@1 {
                reg = <0x0 0xFFE20000 0x0 0x10000>;
                pnode-id = <0x10>;
            };
        };
    };

    zynqmp_ipi1 {
        compatible = "xlnx,zynqmp-ipi-mailbox";
        interrupt-parent = <&gic>;
        interrupts = <0 29 4>;
        xlnx,ipi-id = <7>;
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;

        /* APU<->RPU0 IPI mailbox controller */
        ipi_mailbox_rpu0: mailbox@ff990600 {
            reg = <0xff990600 0x20>,
                  <0xff990620 0x20>,
                  <0xff9900c0 0x20>,
                  <0xff9900e0 0x20>;
            reg-names = "local_request_region",
                    "local_response_region",
                    "remote_request_region",
                    "remote_response_region";
            #mbox-cells = <1>;
            xlnx,ipi-id = <1>;
        };
    };
};
